body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #f5f6f8;
}

.container {
    width: 100%;
}

/* =====================GRID-3COL CSS================= */

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0.5rem;
    background: #fff;
    padding: 0.5rem;
    border: 1px solid #777;
}

.grid-3col .input span {
    display: inline-block;
    font-size: 1rem;
    width: 35%;
    padding-right: 0.5rem;
}

.grid-3col .input select{
    width: 16.8rem;
    height: 25px;
}

.input .close {
    position: relative;
}

.input .close .close-icon{
    position: absolute;
    left: 1%;
    top: 12%;
}

/* =======================CONTAINER-1 CSS================== */

.container-1 {
    display: grid;
    grid-template-columns:  230px 165px 165px 100px 120px 80px 160px 80px 120px 127px;
    margin-left: 0.5rem;
    width: 100%;
}

.input-box {
    background: #fff;
    border: 1px solid #777;
    width: 100%;
}

.input-box span{
    display: block;
    text-align: center ;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.2rem 0;
}

.container-1 .text {
    display: grid;
    grid-template-columns: 230px 165px 165px 100px 120px 80px 160px 80px 120px 129px;
}

.container-1 .text input {
    height: 17px;
}

/* ===================TEXT-INPUT CSS===================== */

.text-input .text-1 {
    display: grid;
    grid-template-columns: 230px 165px 165px 100px 120px 80px 160px 80px 120px 129px;
}

.text-1 input {
    outline: none;
    border: none;
}

/* ====================SUB-CONTAINER CSS=================== */

.sub-container {
    display: grid;
    grid-template-columns: 230px 165px 165px 100px 120px 80px 160px 80px 120px 122px;
    margin: 0 0.5rem; 
    border: 1px solid #777;
    padding: 0.3rem;
    background: #f5f6f8;
}

.sub-container .text-2 input{
    outline: none;
    border: none;
    display: none;
}

.sub-container .text-3 input{
    width: 90%;
    height: 21px;
}

/* ======================BUTTONS-2 CSS===================== */

.buttons-2 {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0 0.5rem;
}

.buttons-2 .btn {
    display: flex;
    color: #000;
    background: #f5f6f8;
    padding: 0.2rem 1rem;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border: 1px solid #777;
}

.buttons-2 .ok-btn ion-icon {
    display: block;
    color: #4cdf4c;
    padding: 0.2em;
}

.buttons-2 .Cancel-btn ion-icon {
    display: block;
    color: red;
    padding: 0.2rem;
}

.buttons-2 .btn:hover {
    background-color: #fff;
    color: #777;

}

.buttons-2 .text-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.text-4 span {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 3.3rem;
    margin-right: 0.5rem;
}

.text-4 input {
    width: 984px;
    height: 24px;
}
